mongo-data/
.webpack/*
node_modules
.build
.env*
.vscode
lerna-debug.log
yarn-error.log
*.log
coverage/*
.serverless/
*.npmrc
out.json
.DS_Store
.webpack
.sourcemaps
*.mongodb
package-lock.json
serverless-compose.yml
pulumi/aws-resources/acm/api-certificate/Pulumi.prod.yaml          
pulumi/aws-resources/apigateway/api-rest/Pulumi.prod.yaml          
pulumi/aws-resources/apigateway/base-path-mapping/Pulumi.prod.yaml 
pulumi/aws-resources/event-bus/serverless/Pulumi.prod.yaml         
pulumi/aws-resources/event-bus/serverless/package-lock.json        
pulumi/aws-resources/route53/hosted-zone/Pulumi.prod.yam
env.json
.env